__pycache__/*
nutrient_signaling/cpputils/*
trash/*
*.egg*
*.o
*.pyc
*.dat
*.h
*.dot
report.*
test/*
nsig/*
*.tex
*.bak
incidental-analyses.org
leastc-pset-gln3/*
new-output/*
opt-pset-gln3/*
single-pset-rap-is-dot6/*
single-pset-rap-is-gln3gnc4/*
another-random-pset/*
corrected-id-gln3/*
.dir-locals.el
.projectile
.stignore
/gln3-tap42-redefined/
/camp-sch9-relationship/
ira-pde-competition/
gln3gcn4again/
/relevant-to-paper/
rebuttal/
snf1-glucose-dependence/
*TAGS*